
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

/*-----start-details-page----*/
.product-details{
	padding-bottom:3em;
}
.details-page{
	padding:0;
}
.product-details  h1{
	color: #08080B;
	font-weight: 700;
	font-size: 1.2em;
	padding: 0.2em 0;
	text-transform: uppercase;
}
.product-head{
	padding: 0.5em 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
	background: url(../images/price-border.png) repeat-y 100% 0%;
}
.product-head li{
	display:inline-block;
}
.product-head li a{
	color: #08080B;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: inline-block;
	text-transform: uppercase;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.product-head li.active-page a{
	color:#E45D5D;
}
#carousel-wrapper {
	position: relative;
}
#carousel, #thumbs {
	overflow: hidden;
}
#carousel span, #carousel img,
#thumbs a, #thumbs img  {
	display: block;
	float: left;
}
#carousel span, #carousel a,
#thumbs span, #thumbs a {
	position: relative;
}
#carousel img,
#thumbs img {
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#carousel img.glare,
#thumbs img.glare {
	width: 102%;
	height: auto;
}
 
#carousel span {
	width: 554px;
	height: 313px;
}
 
#thumbs-wrapper {
	padding: 20px 40px;
	position: relative;
}
#thumbs a {
	width: 150px;
	height: 100px;
	margin: 0 10px;
	overflow: hidden;
}
#thumbs a:hover, #thumbs a.selected {
	border-color: #566;
}
#wrapper img#shadow {
	width: 100%;
	position: absolute;
	bottom: 0;
}
 
#prev, #next {
	background: transparent url('../images/carousel_nav.png') no-repeat 0 0;
	display: block;
	width: 19px;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
}
#prev {
	background-position: 0 0;
	left: 10px;
}
#next {
	background-position: -19px 0;
	right: 10px;
}			
#prev:hover { 
	background-position: 0 -20px;				
}
#next:hover {
	background-position: -19px -20px;				
}
#prev.disabled, #next.disabled {
	display: none !important;
}
.details-left-slider{
	float:left;
	width: 38%;
}
.details-left-info{
	float: left;
	width: 58%;
}
.pro-rate li{
	display:inline-block;
}
.product-rate label{
	width: 132px;
	height: 24px;
	display: inline-block;
	background: url(../images/image-sprit.png) no-repeat -30px -122px;
}
.pro-rate li a{
	color: #08080B;
	padding: 0.1em 0;
	font-size: 0.8em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.pro-rate li a:hover{
	color:#E45D5D;
}
.product-detail-info{
	color: #08080B;
	display: block;
	font-size: 0.8em;
	padding: 1em 0;
	line-height: 1.5em;
}
.price{
	float:left;
}
.price span{
	display: block;
	text-decoration: line-through;
	color: red;
	font-size: 1.2em;
	padding: 0.5em 0;
}
.price label{
	display: block;
	color: green;
	font-size: 1.2em;
	padding: 0 0 0.5em 0;
}
.stock{
	float:right;
}
.stock i{
	color: green;
	margin-top: 2em;
	display: block;
}
.product-colors li a span{
	width:32px;
	height:32px;
	display:inline-block;
}
.color1 span{
	background:#D2D6D5;
}
.color2 span{
	background:#008CB7;
}
.color3 span{
	background:#F3349E;
}
.color4 span{
	background:#93D52D;
}
.color5 span{
	background:#FD9812;
}
.color6 span{
	background:#000000;
}
.color7 span{
	background:#7800F0;
}
.color8 span{
	background:#F6EF04;
}
.product-colors h3,.prosuct-qty span{
	color: #08080B;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
}
.product-colors li{
	display:inline-block;
}
.prosuct-qty select{
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline:none;
}
.prosuct-qty option{
	border:1px solid #EEE;
	font-family: 'Open Sans', sans-serif;
}
.prosuct-qty{
	margin-bottom:1.5em;
}
.product-colors{
	padding:0.5em 0;
}
.product-more-details input[type="button"]{
	background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
}
.product-more-details input[type="button"]:hover{
	background: #1C1C20;
	border-bottom: 4px solid #333;
}
.product-share li{
	display:inline-block;
}
.product-share li a span{
	width:27px;
	height:27px;
	display:inline-block;
}
.share-face span{
	background:url(../images/social-share.png) no-repeat 0px 0px; 
}
.share-twitter span{
	background: url(../images/social-share.png) no-repeat -37px 0px;
}
.share-google span{
	background: url(../images/social-share.png) no-repeat -37px -37px;
}
.share-rss span{
	background: url(../images/social-share.png) no-repeat 0px -37px;
}
.product-share{
	margin:1em 0;
}
.product-share h3{
	color: #08080B;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
}
.product-share li a:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.details-left{
	float:left;
	width:80%;
}
.details-right{
	float: right;
	width: 19%;
	background: url(../images/add.jpg) no-repeat 0px 0px;
	min-height: 600px;
	border-left: 1px solid #eee;
	text-align: center;
}
.details-right a{
	background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
	margin-top: 400px;
}
.details-right a:hover{
	background: #1C1C20;
	border-bottom: 4px solid #333;
}
/*----*/
.product-reviwes{
	margin-top:2em;
}
.vertical-tabs h3 ,.vertical-tabs h4{
	color: #08080B;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0.5em 0;
	display: block;
	text-transform: uppercase;
}
.vertical-tabs h4{
	font-size: 0.8em;
	padding: 0.8em 0 0.8em;
	color: #E45D5D;
}
.vertical-tabs form input[type="text"]{
	border: 1px solid #EEE;
	outline-color: #E45D5D;
	width: 35%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}
.vertical-tabs form input[type="submit"] {
	background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
}
.vertical-tabs form input[type="submit"]:hover {
	background: #1C1C20;
	border-bottom: 4px solid #333;
}
.vertical-tabs form span{
	color: #A5A5A5;
	display: block;
	font-size: 0.8em;
	padding: 0.5em 0;
}
.similar-products-left h3{
	color: #FFF;
	display: block;
	font-size: 1em;
	padding: 0.5em 0;
}
.similar-products-left{
	width: 15.7%;
	float: left;
	background: #E45D5D;
	padding: 1em 1.5em;
	min-height: 250px;
}
.similar-products-left p{
	color: #08080B;
	font-size: 0.8em;
	padding: 0.5em 0;
	line-height: 1.6em;
}
/*-- start-similar-products--*/
.similar-products{
	margin-top:2em;
}
.similar-products-right{
	float: right;
	width: 79.5%;
}
.sproduct-grid{
	width:100%;
	margin:0;
	float:left;
}
/*-- //End-similar-products--*/
/*-----//End-details-page----*/


}